[submodule "onnx"]
	path = onnx
	url = https://github.com/onnx/onnx.git
[submodule "aixlog"]
	path = aixlog
	url = https://github.com/badaix/aixlog.git
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args.git
